* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: sticky;
  top: 0;
}

.header ul {
  list-style: none;
  display: flex;
  margin: 1rem 0;
  width: 50rem;
  background-color: aquamarine;
}
.header ul li {
  padding: 0.5rem 0;
}
.header ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.header ul li a:hover {
  background-color: antiquewhite;
}

@media all and (max-width: 830px) {
  .header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
