.back {
  margin-top: 2rem;
  background-color: #80bde3;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
i {
  cursor: pointer;
}

.header_project {
  color: rgb(179, 245, 209);
  text-decoration: underline;
  padding: 1rem;
}
